requests
python-telegram-bot==12.6.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
tenacity
python-magic
requests
python-dotenv
bs4
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
